
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}


.form-container {
  position: relative;
  z-index: 1;
}


form {
  background-color: rgba(81, 99, 97, 0.85);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 300px;
}


fieldset.a {
  border: none;
}

legend {
  font-family: serif;
  text-align: center;
  color: #150000;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: xx-large;
}

label {
  
  margin-bottom: 5px;
  color: #dab3b3;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 1px solid #827a7a;
  box-sizing: border-box;


}

input:focus {
  border-color: #7f7f7f;
  outline: none;
}

input.c {
  background-color: #2a4562;
  color: rgb(255, 250, 250);
  border: none;
  font-weight: bold;
  border-radius: 20px;
  width: 60%;
  display: block;
  margin: 0 auto;


  
  
 
}

input.c:hover {
  background-color: #0c1c2d;
}




@media (max-width: 500px) {
  form {
    width: 80%; 
    padding: 10px 25px; 
    text-align: center; 
    background-color: rgba(81, 99, 97, 0.85);
    
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    

  }
  
  input.c {
    width: 80%; 
  }
}
   
